<ion-header mode="md" [translucent]="true">
  <ion-toolbar>
    <ion-title>
    Add Daily Finance
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header  mode="md" collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Add Daily Finance</ion-title>
    </ion-toolbar>
  </ion-header>

  <!-- <p-calendar 
  [(ngModel)]="date" 
  [showIcon]="true" 
  [showOnFocus]="false" 
  inputId="buttondisplay" /> -->


  <div class="p-fluid">
   
    <div class="input">
      <label for="date">Date:</label>
      <input id="date" type="date" [(ngModel)]="date" class="p-inputtext" />
    </div>
  
    <div  class="input">
      <label for="income">Income</label>
      <input id="income" type="number" [(ngModel)]="income" class="p-inputtext" />
    </div>
  
    <div  class="input">
      <hr>
      <label for="expenseKey">Title</label>
      <input id="expenseKey" [(ngModel)]="newKey" class="p-inputtext" />
      <hr>
      <label for="expenseValue">Price</label>
      <input id="expenseValue" type="number" [(ngModel)]="newValue" class="p-inputtext" />
      <ion-button style="    width: -webkit-fill-available;
      margin-top: 15px;" (click)="addExpense()">
        <ion-icon name="add" slot="start"></ion-icon>
Add
      </ion-button>
  


      <h3 class="input">Added outcomes</h3>
      <div *ngFor="let expense of expenses; let i = index">
        <ion-item style="border-radius: 7px;" mode="ios" lines="none">
          <ion-label>{{ expense.key }}</ion-label>
          <ion-label slot="end">{{ expense.value | currency:'TND': 'TND' }}</ion-label>
          <ion-button mode="ios" (click)="deleteExpense(i)" color="danger" fill="clear" slot="end">
            <ion-icon name="trash"></ion-icon>
          </ion-button>
        </ion-item>
      </div>

    </div>
  



    <ion-button mode="ios" style="    width: -webkit-fill-available;
    margin-top: 15px;" (click)="saveRecord()">
      <ion-icon name="add" slot="start"></ion-icon>
Save
    </ion-button>
 
  </div>
  

</ion-content>
