<ion-header mode="md" [translucent]="true">
  <ion-toolbar>
    <ion-title>Calendar</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header mode="md" collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Calendar</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-refresher mode="ios" slot="fixed" (ionRefresh)="handleRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
<hr><hr>


  <ion-item lines="none" >
    <ion-label>
      Select a Date
  </ion-label>
    <input id="date" type="date" [(ngModel)]="date" (change)="onValueChange(date)" class="p-inputtext" />
  </ion-item >

  <!-- Display fetched data or no data message -->
  <div *ngIf="dailyData; else noDataTemplate" style="  
  display: block;
  margin: auto;
  margin-top: 30px;
  width: 90%;
  background:  #2196F3;
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 12px;">
    <h3 style="background: #ffffff; padding: 5px; border-radius: 11px; text-align: center;">
      {{date | date: 'yyyy-MM-dd'}}
    </h3>
    <p style="    padding: 10px;
    background:  white;
    border-radius: 12px;
    font-weight: bold;
    text-align: center;"><strong>Income</strong> {{dailyData.income | currency:'TND':'TND'}}</p>
   
   <div style="    padding: 5px;
   background: white;
   border-radius: 12px;
   font-weight: bold;">
    <h4 style="font-weight: bold;text-align: center;">Outcomes</h4>
  <div *ngFor="let expense of dailyData.expenses">
    <ion-item  class="deps" mode="ios" lines="none">
      <ion-label> {{expense.key}}</ion-label>
      <ion-label slot="end"> {{expense.value | currency:'TND':'TND'}}</ion-label>
    </ion-item>
  </div>
    <p><strong>Total</strong> {{dailyData.totalOutcomes | currency:'TND':'TND'}}</p>
  </div>
  
    <p style="    padding: 10px;
    background: white;
    border-radius: 12px;
    font-weight: bold;
    text-align: center;"><strong>Recette</strong> {{dailyData.total | currency:'TND':'TND'}}</p>
       <ion-button (click)="downloadPDF()" mode="ios" >Download</ion-button>
  </div>

  <ng-template #noDataTemplate>
    <p style="display: block; margin: auto; width: 90%; padding: 20px; font-weight: bold; margin-top: 30px; border-radius: 12px; text-align: center;background: #3880ff;color: white;">
      No data available for this date.
    </p>
 
  </ng-template>

</ion-content>
