p{
    display: flex;
    gap: 10px;
    font-size: large;
    font-weight: bold;
    text-align: center;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.deps{
    --background: #edededcc;
    border-radius: 12px;
    margin-top: 10px;
}

ion-item{
  
    border-radius: 12px;
    margin-top: 10px;
}

ion-button{
    width: 100%;
    --background: #000000;
}