<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Modify Daily Finance
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Modify Daily Finance</ion-title>
    </ion-toolbar>
  </ion-header>

  <div class="p-fluid">
    <div class="input">
      <label for="selectDate">Select Date:</label>
      <input id="selectDate" type="date" [(ngModel)]="selectedDate" (change)="loadRecord()" class="p-inputtext" />
    </div>

    <div *ngIf="record">
      <h3>Record Details:</h3>
      <div class="input">
        <label for="income">Income:</label>
        <input id="income" type="number" [(ngModel)]="record.income" class="p-inputtext" />
      </div>

      <h4>Expenses:</h4>
      <div *ngFor="let expense of record.expenses; let i = index">
        <div class="input">
          <label for="expenseTitle{{ i }}">Title:</label>
          <input id="expenseTitle{{ i }}" type="text" [(ngModel)]="expense.key" class="p-inputtext" />
        </div>
        <div class="input">
          <label for="expenseValue{{ i }}">Amount:</label>
          <input id="expenseValue{{ i }}" type="number" [(ngModel)]="expense.value" class="p-inputtext" />
        </div>

        <!-- Button to delete the current expense -->
        <ion-button (click)="removeExpense(i)" color="danger">Delete</ion-button>
      </div>

      <!-- Button to add a new expense -->
      <div>
        <ion-button (click)="addExpense()" color="secondary">Add New Expense</ion-button>
      </div>

      <ion-button (click)="saveChanges()" color="primary">Save Changes</ion-button>
    </div>
    
    <div style="display: block;
    margin: auto;
    width: 300px;
    padding: 20px;
    font-weight: bold;
    margin-top: 30px;
    border-radius: 12px;
    text-align: center;
    background: #E57373;" *ngIf="!record">No record found for this date.</div>
  </div>
</ion-content>
