.input{
    padding: 10px;
    background: #e1e1e1;
    border-radius: 12px;
    margin-top: 15px;
  }
  .p-fluid {
 
    margin: auto;
    padding: 20px;

  }

  ion-button{
    width: -webkit-fill-available;
  }