<ion-header mode="md" [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Modify Daily Finance
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header mode="md" collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Modify Daily Finance</ion-title>
    </ion-toolbar>
  </ion-header>

  <div class="p-fluid">
    <div class="input">
      <label for="selectDate">Select Date:</label>
      <input id="selectDate" type="date" [(ngModel)]="selectedDate" (change)="loadRecord()" class="p-inputtext" />
    </div>

    <div *ngIf="record">
      <div class="input">
        <label for="income">Income:</label>
        <input id="income" type="number" [(ngModel)]="record.income" class="p-inputtext" />
      </div>


      <div class="input">
        <ion-row><ion-col>
          <ion-item style="border-radius: 7px;" lines="none">     
            <ion-label>Expenses</ion-label>
            <ion-button class="Button"   shape="only-icon" (click)="addExpense()" color="secondary"><ion-icon name="add"></ion-icon></ion-button>
          </ion-item>
        </ion-col>
        
        </ion-row>
     
      <div *ngFor="let expense of record.expenses; let i = index">
        <div class="input">
          <label for="expenseTitle{{ i }}">Title:</label>
          <input id="expenseTitle{{ i }}" type="text" [(ngModel)]="expense.key" class="p-inputtext" />
          <label for="expenseValue{{ i }}">Amount:</label>
          <input id="expenseValue{{ i }}" type="number" [(ngModel)]="expense.value" class="p-inputtext" />
          <ion-button fill="outline" (click)="removeExpense(i)"  >Delete</ion-button>
        </div>
           
      </div>
    </div>
      <!-- Button to add a new expense -->
 
      <ion-button (click)="saveChanges()" color="primary">Save Changes</ion-button>
    </div>
    
    <div style="display: block;
    margin: auto;
    width: 300px;
    padding: 20px;
    font-weight: bold;
    margin-top: 30px;
    border-radius: 12px;
    text-align: center;
    background: #E57373;" *ngIf="!record">No record found for this date.</div>
  </div>
</ion-content>
